@import "../../styles/variables";

.portfolio {
  min-height: 100vh;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;

  & .portfolio__heading {
    color: $foreground-color;
    font-size: 3.25rem;
    font-weight: 700;

    @media (max-width: 86.25rem) {
      font-size: 2.5rem;
    }
    @media (max-width: 48rem) {
      font-size: 2rem;
    }
  }
  & .portfolio__list__wrapper {
    max-width: 100vw;
    & .portfolio__list {
      display: flex;
      // align-items: center;
      // overflow-y: hidden;
      overflow-x: scroll;
      margin: 1.25rem;

      @media (max-width: 48rem) {
        // &::before {
        // }
        // &::after {
        // }
        flex-direction: column;
        max-height: calc(100vh - 15rem);
        overflow-y: scroll;
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
