@import "../../styles/variables";

.portfolio {
  height: 100vh !important;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & .portfolio__heading {
    color: $foreground-color;
    font-size: 3.25rem;
    font-weight: 400;

    @media (max-width: 86.25rem) {
      font-size: 2.5rem;
    }
  }

  & .portfolio__list {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    margin: 1.25rem;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
