// * Background
$background-color: #0f0f0f;
$background-color-transparent: #0f0f0fd4;

// * Foreground
$foreground-color: #f4f4f4;
$grey-foreground-color: #868e96;
$accent-foreground-color: #0597f2;

// * Header
$header-background-color: $background-color;
$header-foreground-color: #f4f4f4;
