// * Background
$background-color: #0a0a0a;
$background-color-transparent: #0a0a0ad4;
$accent-color-transparent: #0597f2d4;

// * Foreground
$foreground-color: #f4f4f4;
$grey-foreground-color: #aaaaaa;
$accent-foreground-color: #0597f2;

// * Header
$header-background-color: $background-color;
$header-foreground-color: #f4f4f4;
