@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css);
@import "variables";

@font-face {
  font-family: "Agustina Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Agustina Regular"),
    url("/assets/fonts/Agustina.woff") format("woff");
  // font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("/assets/fonts/Montserrat-Regular.ttf") format("woff");
  // font-display: swap;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  color: $grey-foreground-color;
  font: 16px / 20px Montserrat, "Montserrat", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $background-color;
  padding: 0;
  margin: 0;

  // TODO: Revisit scrolling behaviour of
  overflow-x: hidden;
  overflow-y: scroll;
  overflow-y: overlay;

  & input,
  & textarea,
  & button {
    font: 16px / 20px Montserrat, "Montserrat", sans-serif;
    font-weight: 600;
    &:focus {
      outline: none;
    }
  }
  & input,
  & textarea {
    color: $grey-foreground-color;
    background-color: transparent;

    border: none;
    border-radius: 0;
    border-bottom: 1px solid $grey-foreground-color;
    transition: 0.5s;
  }
  & a {
    transition: 0.5s;
    color: inherit;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: $accent-foreground-color;
    }
  }

  &::-webkit-scrollbar,
  & *::-webkit-scrollbar {
    width: 0.25rem;
  }
  &::-webkit-scrollbar-track,
  & *::-webkit-scrollbar-track {
    background: black;
  }
  &::-webkit-scrollbar-thumb,
  & *::-webkit-scrollbar-thumb {
    background-color: $accent-foreground-color;
    border-radius: 50%;
  }

  @media (max-width: 1380px) {
    font-size: 16px;
    line-height: normal;
  }
}

* {
  box-sizing: border-box;
}
